{
  "extends": "airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 2,
    "linebreak-style": 0,
    "jsx-a11y/href-no-hash": "off",
    "camelcase": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2,
    "class-methods-use-this": ["error", { "exceptMethods": ["querySource","connect","disconnect"] }]
  },
  "env": {
    "mocha": true
  },
  "plugins": [
      "chai-friendly"
  ]
}
